body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Garamond', sans-serif;
    font-size: 21px;
}

html{
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.marginRight2{
    margin-right: 20px;
}

/*My Styles*/

.colorRed{
    color: red!important;
}

.displayFlex{
    display: flex;
}

.form-control{
    font-size: 21px;
    padding: 20px 15px;
    border-radius: 9px;
    box-shadow: none!important;
}

/*Layout view*/
.navbar-inverse {
    background-color: #00008b;
    border-color: #00008b;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse{
    color: #ffffff;
    
}

.navbar-brand {
    font-size: 32px;
    font-family: 'Bilbo Swash Caps', cursive;
    
    padding: 15px 25px 0 0;
    color: orangered!important;
    text-transform: capitalize;
}

#navbarDropDownLogOffArrow{
    margin-left: 10px;
}

.dropdown-menu{
    font-size: 21px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {    
    background-color:#010169;
}


    /*Create View*/
    #createSaveButton {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 21px;
    background-color: #00008b;
    border-radius: 7px;
}

#createSaveButton:hover {
        
    border-color: #66afe9;
    outline: 0;    
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

footer{
    position: absolute;
    bottom: 5%;
    left: 45%;  

}



